.reviews {
	// .reviews__container
	&__container {
		padding-bottom: 140px;
		@media (max-width: 1200px) {
			@include adaptiv(padding-bottom, 140, 50, 1200, 320);
		}
	}
	// .reviews__title
	&__title {
		margin-bottom: 58px;
		@media (max-width: 576px) {
			margin-bottom: 35px;
		}
	}
	// .reviews__grid
	&__grid {
		margin-bottom: 56px;
	}
	// .reviews__item
	&__item {
		display: flex;
		padding: 31px 36px;
		background: #ffffff;
		box-shadow: 0px 4px 20px rgba(0, 44, 106, 0.1);
		border-radius: 20px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 768px) {
			flex-direction: column;
		}
		@media (max-width: 420px) {
			padding: 25px 20px;
		}
	}
	// .reviews__left
	&__left {
		margin-right: 61px;
		flex: 0 0 93px;
		width: 93px;
		height: 93px;
		@media (max-width: 768px) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
	// .reviews__photo
	&__photo {
		border-radius: 100%;
		position: relative;
		overflow: hidden;
		padding-bottom: 100%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
		}
	}
	// .reviews__right
	&__right {
	}
	// .reviews__name
	&__name {
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.42;
		color: #000000;
		@media (max-width: 768px) {
			@include adaptiv(font-size, 24, 18, 768, 320);
		}
	}
	// .reviews__date
	&__date {
		margin-bottom: 10px;
		font-size: 14px;
		color: #495a72;
		@media (max-width: 420px) {
			font-size: 12px;
		}
	}
	// .reviews__text
	&__text {
		& > * {
			margin-bottom: 0 !important;
		}
	}
	// .reviews__pagination
	&__pagination {
		justify-content: flex-start;
		@media (max-width: 576px) {
			justify-content: center;
		}
	}
}
.container-big {
}
.container {
}
.h {
}
.second-style {
}
.pagination {
}
.page-numbers {
}
.dots {
}
.current {
}
